.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.grid {
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(8.33%, 300px), 1fr)); /* 3 equal columns */
    gap: 12px;
    width: 50vw;
    height: 50vh;
}
  
.item {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1; /* Keeps it square */
    padding: 12px;
    background-color: #343633;
    border-radius: 12px;
    border: 1px solid #555555;
    
}

.item * {
    align-self: flex-start;
    font-family: "Inter";
}

#sub {
    font-size: 12px;
    margin: 6px;
    color: #C2E3FF;
    padding-top: 6px;
    text-decoration: underline;
}

body {
    background-color: #1E201E;
}

.item#hello {
    aspect-ratio: auto;
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
}

#hello #header {
    font-size: clamp(16px,3.5vw,96px);
    margin: 6px;
    color: #FFFFFF;
}

#hello #body {
    font-size: clamp(12px,2.625vw,72px);
    margin: 6px;
    color: #666666;
}

.cursor {
    animation: blink 1s steps(2, start) infinite;
    color: #AAAAAA;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.item#project-carousel {
    aspect-ratio: auto;
    grid-column: 5 / span 4;
    grid-row: 1 / span 3;
}

#project-carousel {
    position: relative;
}

#project-carousel button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #FFFFFF;
    font-size: clamp(9px, 1.5vw, 36px);
    font-family: "Inter";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#project-carousel button#left {
    left: 12px;
    padding-right: 8px;
    padding-top: 6px;
}

#project-carousel button#right {
    right: 12px;
    padding-left: 8px;
    padding-top: 6px;
}

#left::before,
#right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
  z-index: -1;
}

#left:hover::before,
#right:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.item#menu {
    aspect-ratio: auto;
    grid-column: 9 / span 2;
    grid-row: 1 / span 5;
}

.item#menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item#menu li {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #343633;
    padding: 10%;
    width: 100%;
    border-radius: 24px;
    transition: background-color 1s ease, color 1s ease;
    /*animation: fade-out 0.5s ease 0s 1 forwards;*/
}

.item#menu li:hover {
    font-size: 20px;
    padding: 10%;
    width: 100%;
    border-radius: 24px;
    background-color: #FFFFFF;
    color: #1E201E;
    /*animation: fade-in 0.5s ease 0s 1 forwards;*/
}

@keyframes fade-in {
    from {
        background-color: #343633;
        color: #FFFFFF;
    }
    
    to {
        background-color: #FFFFFF;
        color: #1E201E;
    }
}

@keyframes fade-out {
    from {
        background-color: #FFFFFF;
        color: #1E201E;
    }

    to {
        background-color: #343633;
        color: #FFFFFF;
    }
}

.item#portrait {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
    display: flex;
}

.item#portrait img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.item#techstack {
    aspect-ratio: auto;
    grid-column: 3 / span 6;
    grid-row: 4 / span 2;
}

.item#techstack #header {
    font-size: clamp(12px, 2vw, 48px);
    color: #FFFFFF
}

.item#techstack .logos {
    display: flex;
    gap: 8px;
    justify-content: left;
    height: 100%;
    padding: 12px;
}

.item#techstack .logos img {
    width: 48px;
    height: auto;
    object-fit: contain;
}

.item#placeholder {
    background-color: #1E201E;
    border: none;
}

