body {
    position: relative;
    /*border: 6px solid black;*/
    height: 100vh;
    background-color: #1E201E;
}

.container {
    width: 50vw;
    height: 50vh;
    margin: 0;
    transform: translate(50%, 50%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: clamp(2px, 1vw, 12px);
}

.item {
    border: 1px solid #555555;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    padding: 24px;
    background-color: #343633;
}

.item#hello {
    aspect-ratio: 4 / 3;
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
}

.item#hello #header {
    font-family: "Inter";
    font-size: clamp(12px, 3vw, 48px);
    color: #FFFFFF;
    padding: 12px;
}

.item#hello #body {
    font-family: "Inter";
    font-size: clamp(8px, 2vw, 32px);
    color: #666666;
    padding: 12px;
}

.item#hello #sub {
    font-family: "Inter";
    font-size: 12px;
    color: #C2E3FF;
    padding: 12px;
}

.cursor {
    animation: blink 1s steps(2, start) infinite;
    color: #AAAAAA;
}

@keyframes blink{
    to {
        visibility: hidden;
    }
}

.item#carousel {
    aspect-ratio: 4 / 3;
    grid-column: 5 / span 4;
    grid-row: 1 / span 3;
    position:relative;
}

.item#carousel #buttons{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.item#carousel button {
    background-color: rgba(0,0,0,0);
    border: none;
}

.item#carousel button img {
    width: clamp(5px, 2vw, 24px);
    height: auto;
}

#project-carousel button#left {
    left: 12px;
    padding-right: 8px;
    padding-top: 6px;
}

#project-carousel button#right {
    right: 12px;
    padding-left: 8px;
    padding-top: 6px;
}

.item#portrait {
    aspect-ratio: 1 / 1;
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
    background-image: url("Assets/placeholder.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item#techstack {
    aspect-ratio: auto;
    grid-column: 3 / span 6;
    grid-row: 4 / span 2;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}
  
.carousel-track img {
    height: 3vw; /* consistent logo height */
    margin: 0 24px; /* space between logos */
}
  
@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
}

.item#techstack #header {
    font-family: "Inter";
    font-size: clamp(12px, 3vw, 48px);
    color: #FFFFFF;
    padding-bottom: 12px;
}

.item#menu {
    aspect-ratio: auto;
    grid-column: 9 / span 2;
    grid-row: 1 / span 5;
}

.item#menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item#menu li#selected {
    font-family: "Inter";
    font-size: 20px;
    color: #FFFFFF;
    background-color: #666666;
    padding: 10%;
    width: 100%;
    border-radius: 24px;
    transition: background-color 1s ease, color 1s ease;
    /*animation: fade-out 0.5s ease 0s 1 forwards;*/
}

.item#menu li#selected:hover {
    font-size: 20px;
    padding: 10%;
    width: 100%;
    border-radius: 24px;
    background-color: #FFFFFF;
    color: #1E201E;
    /*animation: fade-in 0.5s ease 0s 1 forwards;*/
}

.item#menu li {
    font-family: "Inter";
    font-size: 20px;
    color: #FFFFFF;
    background-color: #343633;
    padding: 10%;
    width: 100%;
    border-radius: 24px;
    transition: background-color 1s ease, color 1s ease;
    /*animation: fade-out 0.5s ease 0s 1 forwards;*/
}

.item#menu li:hover {
    font-size: 20px;
    padding: 10%;
    width: 100%;
    border-radius: 24px;
    background-color: #FFFFFF;
    color: #1E201E;
    /*animation: fade-in 0.5s ease 0s 1 forwards;*/
}